@import "../extends.scss";
@import "../color.scss";
@import "../font.scss";

.project {
  margin-top: 1rem;
  border-radius: 18px;
  color: #fff;

  & a {
    display: flex;
    justify-content: center;
  }

  &__info {
    padding: 0 1rem 1rem 1rem;
  }

  &__title {
    font-size: 1rem;
    font-weight: $weight-bold;
    text-shadow: 1px 1px 20px $color-light;
  }

  &__gif {
    height: auto;
    width: 100%;
    padding: 1rem;
    align-self: center;
    border-radius: 28px;
  }

  &__list {
    font-size: 12px;

    & ul {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
    }

    & li {
      list-style: none;
      margin-right: 6px;
      margin-bottom: 8px;
      background-color: #fff;
      color: $color-light;
      padding: 4px 8px;
      border-radius: 10px;
    }
  }

  &__plug {
    font-size: 13px;
    line-height: 1.2rem;
    color: #fff;
    font-weight: $weight-light;
    text-shadow: 1px 1px 20px $color-light;
  }

  &__btns {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
  }

  &__btn {
    display: flex;
    align-items: center;
    padding: 8px 2rem;
    text-decoration: none;
    font-size: 13px;
    font-weight: $weight-light;

    &--preview {
      @extend .btn-dark;
      border: transparent;
    }

    &--github {
      @extend .btn-light;
      color: $color-dark;
    }
  }

  &__btn-img {
    width: 1.2rem;
    margin-right: 4px;
  }
}
