@import "../color.scss";
@import "../font.scss";
@import "../extends.scss";

.main {
  @extend .section;
  padding-top: 8rem;

  @media (max-width: 414px) {
    padding-top: 6rem;
    padding-bottom: 4rem;
  }

  &__social-links {
    display: none;

    @media (max-width: 600px) {
      display: flex;
      margin-bottom: 1.4rem;
    }
  }

  &__tech-icon {
    height: 1.4rem;
    margin-left: 8px;
  }

  &__header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  & h1 {
    color: $color-dark;
    font-size: 2.6rem;
    line-height: 3rem;
    margin-top: 0;
    margin-bottom: 1rem;

    @media (max-width: 414px) {
      font-size: 2.4rem;
    }
  }

  & p {
    width: 60%;
    font-weight: $weight-light;
    font-size: 1.1rem;
    color: $color-light;
    line-height: 1.8rem;
    margin: 5px 0;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  & ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  & li {
    font-size: 1rem;
    color: $color-light;
    list-style: none;
    margin-right: 6px;
    border: 1px solid #21d3ee;
    border-radius: 8px;
    color: darken(#21d3ee, 15%);
    padding: 6px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__btns {
    margin-top: 1rem;
  }

  &__btn {
    @extend .btn-light;

    &--contact {
      @extend .btn-dark;
      display: inline-block;
      font-size: 14px;
      font-weight: $weight-regular;
      text-decoration: none;
      letter-spacing: 1px;
    }
  }
}
