@import "./font.scss";

html {
  box-sizing: border-box;
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

.content {
  max-width: 96rem;
  padding: 0 4rem;
  margin: 0 auto;
}
