@import "./font.scss";

html {
  box-sizing: border-box;
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

.content {
  max-width: 96rem;
  padding: 0 4rem;
  margin: 0 auto;

  @media (max-width: 1000px) {
    padding: 0 2rem;
  }

  @media (max-width: 500px) {
    padding: 0 1rem;
  }
}
