@import "../color.scss";
@import "../extends.scss";
@import "../font.scss";

.projects {
  @extend .section;

  @media (max-width: 414px) {
    padding: 0;
    margin-bottom: 2rem;
  }

  &__header {
    text-align: center;
  }

  &__header-title {
    @extend .section-title;
  }

  &__header-p {
    @extend .section-p;
    color: $color-light;
    font-weight: $weight-light;
  }

  &__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: 1rem;

    @media (max-width: 1250px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 800px) {
      grid-template-columns: 1fr;
    }
  }
}
