@import "../color.scss";
@import "../font.scss";

.navbar {
  padding-top: 1rem;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1168px;
  background-color: #fff;
  border-bottom: 1px solid lighten(#21d3ee, 38%);

  @media (max-width: 414px) {
    padding: 12px;
  }

  &__logo {
    width: 25%;
    display: flex;
    align-items: flex-end;

    & img {
      height: auto;
      width: 35px;
      border-radius: 15%;
    }
  }

  &__links {
    width: 50%;
    display: flex;
    justify-content: center;

    @media (max-width: 414px) {
      justify-content: flex-end;
    }

    @media (min-width: 600px) {
      width: 75%;
    }

    & a {
      color: lighten($color-dark, 45%);
      text-decoration: none;
      margin-right: 1rem;
      font-weight: $weight-light;
      font-size: 14px;
      letter-spacing: 1px;
    }
  }

  &__social-links {
    width: 25%;
    justify-content: flex-end;
    display: none;

    @media (min-width: 600px) {
      display: flex;
    }
  }

  &__social-link {
    & img {
      height: auto;
      width: 1.4rem;
      margin-right: 1rem;

      @media (max-width: 600px) {
        width: 1.8rem;
      }
    }
  }
}
