@import "../color.scss";
@import "../font.scss";

.navbar {
  padding: 1rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;

  &__logo {
    width: 25%;
    display: flex;
    align-items: flex-end;

    & img {
      height: auto;
      width: 35px;
    }
  }

  &__links {
    width: 50%;
    display: flex;
    justify-content: center;

    @media (min-width: 600px) {
      width: 75%;
    }

    & a {
      color: $color-dark;
      text-decoration: none;
      margin-right: 1rem;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 1px;
    }
  }

  &__social-links {
    width: 25%;
    justify-content: flex-end;
    display: none;

    @media (min-width: 600px) {
      display: flex;
    }
  }

  &__social-link {
    & img {
      height: auto;
      width: 1.6rem;
      margin-right: 1rem;
    }
  }
}
