@import "../extends.scss";
@import "../color.scss";
@import "../font.scss";

.contact {
  @extend .section;
  background-color: $color-dark;

  @media (max-width: 414px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  &__header {
    text-align: center;
  }

  &__header-title {
    @extend .section-title;
    color: #fff;
  }

  &__header-p {
    @extend .section-p;
    color: #fff;
  }

  &__content {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    @media (max-width: 900px) {
      width: 75%;
    }

    @media (max-width: 500px) {
      width: 100%;
    }
  }

  &__input {
    width: 100%;
    height: 3rem;
    border: none;
    margin-bottom: 1rem;
    padding-left: 10px;
    font-size: 1rem;
    border-radius: 8px;
    font-family: inherit;
    @media (max-width: 414px) {
      font-size: 14px;
    }

    &::placeholder {
      color: $color-lightest;
    }

    &:focus,
    &:active {
      outline: 3px solid #888;
    }
  }

  &__textarea {
    width: 100%;
    border: none;
    margin-bottom: 1rem;
    padding-left: 10px;
    padding-top: 12px;
    font-size: 1rem;
    font-family: inherit;
    border-radius: 8px;

    @media (max-width: 414px) {
      font-size: 14px;
      height: 6rem;
    }

    &::placeholder {
      color: $color-lightest;
    }

    &:focus,
    &:active {
      outline: 3px solid #888;
    }
  }

  & button {
    @extend .btn;
    font-family: $Poppins;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    color: $color-dark;
    background-color: #fff;

    &:active,
    &:focus {
      outline: 2px solid #888;
    }
  }
}
